.container{
    display: flex;
    width: 40em;
    flex-direction: column;
    margin: 0 auto; 
    padding: 0;
    align-items: center;
    color:rgb(71, 97, 245);
    border: 3px solid rgb(71, 97, 245);
    border-radius: 2em;
}

.div-a{
    padding-bottom: 1em;
    margin: 0;
    /* height: 20em; */
    width: 27em;
    border-radius: 10px;
}

textarea{
    height: 15em;
    width: 30em;
    margin: 0 auto;
    resize: none;
}

button{
    padding: 0.7em;
    color: white;
    background-color: rgb(71, 97, 245);
    border-radius: 5px; 
    border: none;
}

input {
    padding: 0.1em;
    color: white;
    background-color: rgb(71, 97, 245);
    border-radius: 5px; 
    border: none;
    width: 23em;
    margin-left: 10%;
    margin-bottom: 0.1em;
}

.dugmad{
    margin: 0 auto;
    width: 25em;
}

#btnNoviNiz, #btnPrikazNiza, #btnPodelaNiza{
    background-color: rgb(52, 172, 58);
}

#btnBrisanje{
    background-color: crimson;
}

input:hover, #btnPrikazNiza:hover, #btnPrikazNeNulaElemenataNiza:hover, #btnBrisanje:hover{
    opacity: 0.9;
}

#btnNniz, #btnPodelaNniza{
    background-color: rgb(100, 115, 247);
}

.dugmad2{
    flex-direction: column;
    align-items: center;
    width: 20em;
    list-style: none; 
    margin: 0;
}

.dugmad2 li{
    text-align: center;
    padding: 0.5em;
    color: white;
    border-radius: 10px;
    background-color: rgb(33, 146, 40);
    border: 1px solid rgb(255, 255, 255);

}

.dugmad2 li:hover{
    opacity: 0.91;
}

.div-a a2 {
    width: 10em;
    border: 1px solid black;
}

#btnProracun {
    margin-bottom: 0.4em;
}

#txtN, #txtZbir, #txtSrVr{
    background-color: white;
    color: black;
    width: 10em;
}

#progressBar {
    width: 100%;
    background-color: grey;
  }
  
  #pBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }